body{
	background-color: #ffffff; 
}

.header-container{
	padding: 10px;
	border-bottom: 1px solid #e4e4e4;
	background-color: #fff;
}

.header-logo-container a{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-decoration: none;
}

.header-logo-container a:hover{
	text-decoration: none;
}


.logo-user{
	color:#d22121;
}

.logo-manager{
	color:#6b1818;
}

.container{
	padding: 20px;
}

.error-field-message{
	font-size: 0.75em;
}

.login-container{
	margin: 0 auto;
	max-width: 500px;
	margin-top: 6%;
}

.login-header-container{
	text-align: center;
	padding: 10px;
}

.login-header-container h1{
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	font-weight: 700;
}

.login-form-container{
	background-color: #f1f1f1;
	padding: 20px;
	border: 1px solid #d4d4d4;
}

.login-form-header{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.login-form-container p{
	font-family: 'Roboto', sans-serif;
}